ion-label{
    --color: #034B3D !important;
    font-family: 'Ubuntu' !important;
}

ion-item{
    font-size: 14px;
}

.list{
    font-size: 12px !important;
}

.tanggal{
    color: white;
    --background: #034B3D;
    border-radius: 50px;
}

#search{
    --background: #EDEDED;
    --color: #097C66 !important;
    --icon-color: #097C66 !important;
    --clear-button-color: #097C66 !important;
    --placeholder-font-style: 'Ubuntu';
}