<ion-content>
    <ion-grid>
      <ion-row>
          <ion-col>
            <form (submit)="onSubmit(search.value)">
                <input type="text" #search placeholder="Cari ID Transaksi..." onfocus="this.value=''">
            </form>

            </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item size="12" lines="none">
              <ion-label>Pengaluaran Hari Ini</ion-label>
              <ion-label text-end>Rp {{trxDay}},00</ion-label>
          </ion-item>
          <ion-item size="12" lines="none">
              <ion-label>Pengeluaran Bulan Ini</ion-label>
              <ion-label text-end>Rp {{trxMonth}},00</ion-label>
          </ion-item>
        </ion-col>
        <ion-col style="margin: 1%">
          <ion-item class="tanggal">
            <ion-label style="color: white">Tanggal</ion-label>
            <ion-datetime style="color: white" displayFormat="DD MMMM YYYY" placeholder="Pilih Tanggal" #searchdate></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <button (click)="SearchDate(searchdate.value)">Confirm</button>
        <button (click)="ClearDate()">Clear</button>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item size="4" class="list">
              <ion-label text-center class="colTitle">Date</ion-label>
              <ion-label text-center class="colTitle">ID Transaksi</ion-label>
              <ion-label text-center class="colTitle">Total</ion-label>
            </ion-item>
            <p *ngIf="beforeSearch">
              <ion-item *ngFor="let transaksi of response" size="4" class="list">
                <ion-label text-start class="colTitle">{{transaksi.trx_date | date: 'd MMMM yyyy' }}</ion-label>
                <ion-label text-center class="colTitle" (click)="onDetail(transaksi)">{{transaksi.id}}</ion-label>
                <ion-label text-end class="colTitle">Rp {{transaksi.total}},00</ion-label>
              </ion-item>
            </p>
            <p *ngIf="afterSearch">
              <ion-item *ngFor="let transaksi of searchData" size="4" class="list">
                <ion-label text-start class="colTitle">{{transaksi.trx_date | date: 'd MMMM yyyy' }}</ion-label>
                <ion-label text-center class="colTitle" (click)="onDetail(transaksi)">{{transaksi.id}}</ion-label>
                <ion-label text-end class="colTitle">Rp {{transaksi.total}},00</ion-label>
              </ion-item>
            </p>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
