<ion-app>
    <ion-menu slide="start" menuId="m1">
      <ion-header>
        <ion-toolbar>
          <ion-title>re-ceipt</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list>
          <ion-item lines="none" routerLink="" (click)="checkCORS()">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Beranda</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="">
            <ion-icon name="qr-scanner" slot="start"></ion-icon>
            <ion-label>Scan</ion-label>
          </ion-item>
          <ion-item lines="none" button>
              <ion-icon name="pricetags" slot="start"></ion-icon>
              <ion-label>Transaksi</ion-label>
            </ion-item>
          <ion-item lines="none"  button>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-app>
  