<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="4" offset-sm="4" class="ion-text-center">          
        <a href="https://ibb.co/NtBtn4G"><img src="https://i.ibb.co/WGJGpTR/logo-re-ceipt-admin.png" alt="logo-re-ceipt-admin" border="0" /></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12">
        <ion-list>
            <ion-item>
              <ion-label position="floating">Nama</ion-label>
              <ion-input 
                type="text"
                ngModel 
                name="nama" 
                required 
                #namaCtrl="ngModel"
                minlength="1"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!namaCtrl.valid && namaCtrl.touched" 
              lines="none">
              <ion-label color="danger"><small>Empty Nama</small></ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Phone Number</ion-label>
              <ion-input 
                size-xs="10"
                inputmode="phone" 
                ngModel 
                name="phone" 
                required 
                 
                #phoneCtrl="ngModel" 
                type="tel"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!phoneCtrl.valid && phoneCtrl.touched" 
              lines="none">
              <ion-label color="danger"><small>Should be a valid phone number</small></ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input 
                inputmode="email" 
                ngModel 
                name="email" 
                required 
                email 
                #emailCtrl="ngModel" 
                type="email"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched" 
              lines="none">
              <ion-label color="danger"><small>Should be a valid email</small></ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input 
                type="password"
                ngModel 
                name="password" 
                required 
                #passCtrl="ngModel"
                minlength="6"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passCtrl.valid && passCtrl.touched" 
              lines="none">
              <ion-label color="danger"><small>Empty password</small></ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Re-enter Password</ion-label>
              <ion-input 
                type="password"
                ngModel 
                name="repassword" 
                required 
                #repassCtrl="ngModel"
                minlength="6"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!repassCtrl.valid && repassCtrl.touched" 
              lines="none">
              <ion-label color="danger"><small>Empty re-enter password</small></ion-label>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col size-xs="12"  class="ion-text-center">
          <!--<ion-button color="primary" fill="clear" (click)="onSwitchAuthMode()" expand="full">Switch to {{ isLogin ? 'Login' : 'Signup' }}</ion-button>-->
          <ion-button size-xs="12" expand="block" [disabled]="!f.valid" (click)="onSubmit(f)" >Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
  <!-- <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner> -->
</ion-content>
