.margin-top-m {
    margin-top: 24px;
}

.margin-top-l {
    margin-top: 32px;
}

.margin-right {
    margin-right: 10px;
}

.bg-rekap {
    background:green;
}
.rounded-rekap {
    border-radius: 50%;
    background: white;
}

ion-app.transparentBody, ion-app.transparentBody ion-content, ion-app.transparentBody ion-grid, ion-app.transparentBody .nav-decor {
    --background: transparent none !important;
    background: transparent none !important;
}

