<ion-content>
    <ion-grid>
        <ion-row class="ion-text-center margin-top-m">
            <ion-col>
                <img id="fotoProfil" src="https://i.ibb.co/88qQw0v/foto-profil.png" alt="foto-profil" border="0" width="100"/>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col size="12">
                <ion-text color="secondary" class="bold">{{nameuser}}</ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-text color="primary" class="bold">Total points: {{totpoin}}</ion-text>
            </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
            <ion-col>
                <ion-card color="secondary" mode="ios">
                    <ion-card-header>
                        <ion-card-title class="bold">Your Expenses So Far</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-row>
                            <ion-col size="4">
                                <ion-col class="bold">Day</ion-col>
                                <ion-row>
                                    <ion-col>
                                        <ion-text>Rp {{trxDay}}</ion-text>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size="4">
                                <ion-col class="bold">Month</ion-col>
                                <ion-row>
                                    <ion-col>
                                        <ion-text>Rp {{trxMonth}}</ion-text>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size="4">
                                <ion-col class="bold">Year</ion-col>
                                <ion-row>
                                    <ion-col>
                                        <ion-text>Rp {{trxYear}}</ion-text>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
            <ion-col>
                <ion-card mode="ios">
                    <ion-card-header>
                        <ion-card-title class="bold" color="secondary">Merchant of The Year</ion-card-title>
                    </ion-card-header>

                    <ion-card-content style="padding: 0px !important">
                    <div *ngIf="lessthree" class="oneline">
                        <ion-list mode="ios">
                            <ion-item *ngFor="let merchant of merchantoftheyear" style="padding-left: 0px">
                                <ion-icon style="padding-right: 16px; margin-right: 0px !important;" slot="start" name="trophy" color="gold"></ion-icon>
                                <ion-thumbnail>
                                  <img style="border-radius: 5px;" src="{{merchant.img}}" alt="" >
                                </ion-thumbnail>
                                <ion-col size="8" style="padding-left: 20px;">
                                    <ion-label class="ion-text-wrap" color="secondary">{{merchant.name}}</ion-label>
                                </ion-col>
                                <ion-col size="3" slot="end" style="margin-left: 0px">
                                    <ion-label class="ion-text-wrap" color="secondary" text-right>{{merchant.total_points}}x</ion-label>
                                </ion-col>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div *ngIf="!lessthree" class="oneline">
                        <ion-list mode="ios">
                            <ion-item *ngFor="let merchant of merchantoftheyear.slice(0, 3)" style="padding-left: 0px">
                                <ion-icon style="padding-right: 16px; margin-right: 0px !important;" slot="start" name="trophy" color="gold"></ion-icon>
                                <ion-thumbnail>
                                  <img style="border-radius: 5px;" src="{{merchant.img}}" alt="" >
                                </ion-thumbnail>
                                <ion-col size="8" style="padding-left: 20px;">
                                    <ion-label class="ion-text-wrap" color="secondary">{{merchant.name}}</ion-label>
                                </ion-col>
                                <ion-col size="3" slot="end" style="margin-left: 0px">
                                    <ion-label class="ion-text-wrap" color="secondary" text-right>{{merchant.total_points}}x</ion-label>
                                </ion-col>
                            </ion-item>
                        </ion-list>
                        <div *ngIf="!showmerchantoftheyear" class="oneline">
                            <ion-button class="ion-margin-top bold" color="primary" expand="block" shape="round" mode="ios" (click)="showmore()">Show All</ion-button>
                        </div>
                        <div *ngIf="showmerchantoftheyear" >
                          <ion-list mode="ios">
                              <ion-item *ngFor="let merchant of merchantoftheyear.slice(3)" style="padding-left: 0px">
                                  <ion-icon style="padding-right: 16px; margin-right: 0px !important;" slot="start" name="trophy" color="blue"></ion-icon>
                                  <ion-thumbnail>
                                    <img style="border-radius: 5px;" src="{{merchant.img}}" alt="" >
                                  </ion-thumbnail>
                                  <ion-col size="8" style="padding-left: 20px;">
                                      <ion-label class="ion-text-wrap" color="secondary">{{merchant.name}}</ion-label>
                                  </ion-col>
                                  <ion-col size="3" slot="end" style="margin-left: 0px">
                                      <ion-label class="ion-text-wrap" color="secondary" text-right>{{merchant.total_points}}x</ion-label>
                                  </ion-col>
                              </ion-item>
                          </ion-list>
                          <ion-button class="ion-margin-top bold" color="primary" expand="block" shape="round" mode="ios" (click)="showless()">Show Less</ion-button>
                        </div>
                    </div>
                  </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="primary" (click)="doScan()">
                <ion-icon name="qr-scanner"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
