<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary">
      <ion-tab-button tab="beranda" >
        <ion-label>Beranda</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="riwayat">
        <ion-label>Riwayat</ion-label>
        <ion-icon name="time"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
