<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <a float-right>
          <img class="imgLogout" id="imgLogout" src="https://i.ibb.co/3pM6q8f/logout.png" alt="logout" [routerLink]="['/', 'auth']"/>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <ion-text id="txtGanti"  >Ganti Foto Profil</ion-text>
          <img class="imgSmall" id="imgChange" src="https://i.ibb.co/GFXr7H7/edit.png" alt="edit" border="0"  (click)="editUserImg()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <label class="hoverable">
            <img class="profilepicture" src="{{userImg}}">
          </label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" id="colRestoku">
        <ion-text id="restoku" >{{userName}}</ion-text>
        <img class="imgSmall" id="imgChange" src="https://i.ibb.co/GFXr7H7/edit.png" alt="edit" border="0"  (click)="editUserName()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label>Jumlah Transaksi Hari Ini</ion-label>
      <ion-label class="ion-text-end">{{trxDay}}x</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jumlah Transaksi Bulan Ini</ion-label>
      <ion-label class="ion-text-end">{{trxMonth}}x</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Total Poin Terkumpul</ion-label>
        <ion-label class="ion-text-end">
          <ion-text color="primary">
            {{totpoin}}
          </ion-text>
        </ion-label>
      </ion-item>
  </ion-list>

    <!-- <ion-button expand="block">Redeem Poin</ion-button> -->
</ion-content>
